body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightblue;
}

header {
    padding: 40px;
    text-align: left;
    background-color: pink;
    color: white;
}